# Database Settings
POSTGRES_DB="{{ db_name }}"
POSTGRES_USER="{{ db_username }}"
POSTGRES_PASSWORD="{{ db_password }}"

# API Settings
DB_CONNECTION_STRING="Server=database;Database=${POSTGRES_DB};User Id=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}"
ASPNETCORE_ENVIRONMENT="{{ vrt_environment }}"
ASPNETCORE_URLS="http://+:80"