{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedOrigins": ["{{ vrt_app_url }}"],
  "ConnectionStrings": {
    "VRT": "Server=database;Database={{ db_name }};User Id={{ db_username }};Password={{ db_password }};Pooling=true"
  },
  "Hosting": {
    "AppUrl": "{{ vrt_app_url }}",
    "PushIconUri": "assets/icons/icon-152x152.png",
    "DefaultLocale": "{{ api_default_locale }}",
    "DataRetentionPeriod": {{ api_data_retention_days }},
    "EnableNotifications": {{ api_enable_notifications }}
  },
  "JWT": {
    "Secret": "{{ api_jwt_secret }}",
    "Issuer": "{{ vrt_app_url }}",
    "Audience": "{{ vrt_app_url }}",
    "AccessTokenLifetime": {{ api_jwt_access_token_lifetime }},
    "RefreshTokenLifetime": {{ api_jwt_refresh_token_lifetime }}
  },
  "Account": {
    "BCryptWorkFactor": {{ api_account_bcrpyt_work_factor }},
    "BCryptDefaultHash": "{{ api_account_bcrypt_default_hash }}",
    "RecoveryTokenLifetime": {{ api_account_recovery_token_lifetime }}
  },
  "WebPush": {
    "VAPIDSubject": "{{ api_web_push_subject }}",
    "VAPIDPublicKey": "{{ api_web_push_public_key }}",
    "VAPIDPrivateKey": "{{ api_web_push_private_key }}"
  },
  "Email": {
    "Host": "{{ api_email_hostname }}",
    "Port": {{ api_email_smtp_port }},
    "UseTLS": {{ api_email_use_tls }},
    "Username": "{{ api_email_username }}",
    "Password": "{{ api_email_password }}",
    "SenderName": "PSV Anmeldeverwaltung",
    "SenderAddress": "noreply@example.com",
    "RecipientsBatchSize": 50
  }
}
